body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f1c2e;
    color: white;
    scroll-behavior: smooth;
}

header {
    background: #162447;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    background: linear-gradient(to right, #1f4068, #1b1b2f);
    padding: 120px 20px;
    text-align: center;
}

button {
    background: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.section {
    padding: 80px 10%;
}

.dark {
    background: #162447;
}

.content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.content img {
    width: 300px;
    border-radius: 10px;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    background: #1f4068;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

input, textarea, select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

footer {
    text-align: center;
    padding: 30px;
    background: #0f3460;
}